<html>
<head>
<title>Georgina Torbet</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div id="title">
<h1>Georgina Torbet</h1>
<h2>Researcher in Psychology and Philosophy</h2>
</div>

<div id="nav">
<ul><li><a href="">Home</a> </li>
<li><a href="tweets.html">Twitter</a>  </li>
<li><a href="">CV</a>  </li>
<li><a href="">Email</a>  </li>
</ul>
</div>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			
<h3>Footer:</h3>
<ul>
<li><a href="" about="_blank">CV</a></li>
<li><a href="mailto:mail@georginatorbet.com">Email</a></li>
</ul>

</body>
</html>
